@import 'variables';

.about-img{
    padding: 2em;
    @include flex-all-center;
    background-color:$backblack;
    color: #fff;
}   
.about-text{
    line-height: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $backblack;
    color: #fff;
}
.text-padding-01{
    padding: 1em 1em 0 1em;
}
.text-padding-02{
    padding: 0 1em 0 1em;
}